{{ define "main" }}
<article class="ast-article-single standard-file-page">
  <div class="entry-content clear" data-ast-blocks-layout itemprop="text">
    {{ with .Params.top_spacer }}
    <div style="height:{{ . }}" aria-hidden="true" class="wp-block-spacer"></div>
    {{ end }}

    <div class="wp-block-uagb-advanced-heading uagb-block-8c0d7442">
      <h1 class="uagb-heading-text">{{ .Title }}</h1>
    </div>

    {{ with .Params.file_image }}
    <figure class="wp-block-image size-large">
      <img
        {{ if $.Params.file_image_width }}width="{{ $.Params.file_image_width }}"{{ end }}
        {{ if $.Params.file_image_height }}height="{{ $.Params.file_image_height }}"{{ end }}
        src="{{ . | relURL }}"
        alt="{{ $.Params.file_image_alt }}"
        title="{{ $.Title }}"
        {{ with $.Params.file_image_sizes }}sizes="{{ . }}"{{ end }}>
    </figure>
    {{ end }}

    <div data-wp-interactive="core/file" class="wp-block-file">
      <object
        class="wp-block-file__embed"
        data="{{ .Params.file_url | relURL }}"
        type="application/pdf"
        style="width:100%;height:600px"
        aria-label="Embed of {{ with .Params.file_label }}{{ . }}{{ else }}{{ .Title }}{{ end }}."></object>
      <a id="wp-block-file--media-{{ .File.UniqueID }}" href="{{ .Params.file_url | relURL }}">{{ .Params.file_label }}</a>
      <a
        href="{{ .Params.file_url | relURL }}"
        class="wp-block-file__button wp-element-button"
        download
        aria-describedby="wp-block-file--media-{{ .File.UniqueID }}">Download</a>
    </div>

    <p></p>
  </div>
</article>
{{ end }}
