<!DOCTYPE html>
<html lang="en" data-theme="default">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>
  {{ partial "header.html" . }}
  <main id="main-content" tabindex="-1">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  <script src="{{ "js/theme-switcher.js" | relURL }}"></script>
  <script src="{{ "js/mobile-menu.js" | relURL }}"></script>
  {{ if .IsHome }}
  <script src="{{ "vendor/jquery.slim.min.js" | relURL }}"></script>
  <script src="{{ "vendor/ableplayer/ableplayer.min.js" | relURL }}"></script>
  {{ end }}
</body>
</html>
