{{ define "main" }}
<article class="ast-article-single wp-empty-table-page">
  <div class="entry-content clear" data-ast-blocks-layout itemprop="text">
    <figure class="wp-block-table is-style-regular">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{ range seq 15 }}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </figure>
  </div>
</article>
{{ end }}
