{{ define "main" }}
<article class="ast-article-single wp-profile-page">
  <div class="entry-content clear" data-ast-blocks-layout itemprop="text">
    <div class="wp-block-uagb-container uagb-block-99b62053 alignfull uagb-is-root-container">
      <div class="uagb-container-inner-blocks-wrap">
        <div class="wp-block-uagb-container uagb-block-7e2623b4">
          <div class="wp-block-uagb-image uagb-block-93de6087 wp-block-uagb-image--layout-default wp-block-uagb-image--effect-static wp-block-uagb-image--align-none uag-hide-tab uag-hide-mob">
            <figure class="wp-block-uagb-image__figure">
              <img decoding="async" src="{{ .Params.profile_image | relURL }}" alt="{{ .Title }}" class="uag-image-1030" width="845" height="553" loading="lazy">
            </figure>
          </div>
        </div>
        <div class="wp-block-uagb-container uagb-block-bb8592fb">
          <div class="wp-block-uagb-info-box uagb-block-4a6700de uagb-infobox__content-wrap uagb-infobox-icon-above-title uagb-infobox-image-valign-top">
            <div class="uagb-ifb-content">
              <div class="uagb-ifb-title-wrap">
                <h2 class="uagb-ifb-title">{{ .Params.profile_heading }}</h2>
              </div>
              <div class="uagb-ifb-desc">{{ .Params.bio | markdownify }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{ end }}
