{{ define "main" }}
<article class="ast-article-single wp-dark-doc-page wp-capability-page">
  <div class="entry-content clear" data-ast-blocks-layout itemprop="text">
    <div class="wp-block-uagb-container uagb-block-d963be70 alignfull uagb-is-root-container">
      <div class="uagb-container-inner-blocks-wrap">
        <div class="wp-block-uagb-advanced-heading uagb-block-d694d578">
          <h1 class="uagb-heading-text">{{ with .Params.page_heading }}{{ . }}{{ else }}{{ .Title }}{{ end }}</h1>
        </div>
        <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-block-buttons-is-layout-flex">
          <div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-outline is-style-outline--1">
            <a class="wp-block-button__link has-white-color has-ast-global-color-1-background-color has-text-color has-background has-link-color has-text-align-center wp-element-button" href="{{ .Params.button_url }}" target="_blank" rel="noopener">
              {{ .Params.button_label }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{{ end }}
