{{ define "main" }}
<article class="ast-article-single wp-accessibility-page">
  <div class="entry-content clear" data-ast-blocks-layout itemprop="text">
    <div class="wp-block-uagb-container uagb-block-450c520f alignfull uagb-is-root-container">
      <div class="uagb-container-inner-blocks-wrap">
        <div class="wp-block-uagb-container uagb-block-7cba2e14">
          <div class="wp-block-uagb-advanced-heading uagb-block-4a73817d">
            <h1 class="uagb-heading-text">Accessibility Statement for&nbsp;XR Navigation and all its applications</h1>
          </div>
          <p class="has-text-align-left has-ast-global-color-5-color has-text-color" style="font-size:1em">This is an accessibility statement from&nbsp;XR Navigation Inc.</p>
          <div class="wp-block-jetpack-markdown">
            <p><a href="/acr">Here are the Accessibility Conformance Reports for all XR Navigation products and domains.</a></p>
          </div>
        </div>
      </div>
    </div>

    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>

    <div class="wp-block-uagb-advanced-heading uagb-block-0ddfd1b2">
      <h2 class="uagb-heading-text">Measures to support accessibility</h2>
    </div>
    <p>XR Navigation Inc.&nbsp;takes the following measures to ensure accessibility of&nbsp;all its applications:</p>
    <ul class="wp-block-list">
      <li>Include accessibility as part of our mission statement.</li>
      <li>Include accessibility throughout our internal policies.</li>
      <li>Integrate accessibility into our procurement practices.</li>
      <li>Provide continual accessibility training for our staff.</li>
      <li>Assign clear accessibility goals and responsibilities.</li>
      <li>Employ formal accessibility quality assurance methods.</li>
      <li>Employ disabled developers.</li>
      <li>Have people with disabilities as executives and leaders within the company.</li>
      <li>Perform frequent user testing with different groups of users.</li>
      <li>Employ IAAP certified developers as core members of the design and development process.</li>
      <li>Integrate accessibility and user experience into the same conversations.</li>
      <li>Obtain independent accessibility audits for products and sites.</li>
    </ul>

    <div class="wp-block-uagb-advanced-heading uagb-block-ba3cc3b2">
      <h2 class="uagb-heading-text">Conformance status</h2>
    </div>
    <p>The&nbsp;<a href="https://www.google.com/url?q=https://www.w3.org/WAI/standards-guidelines/wcag/&amp;source=gmail-html&amp;ust=1701794721889000&amp;usg=AOvVaw3oLXNIIXuRlzU4NsF_HF9u" target="_blank" rel="noreferrer noopener">Web Content Accessibility Guidelines (WCAG)</a>&nbsp;defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.&nbsp;all XR Navigation applications&nbsp;are&nbsp;fully conformant&nbsp;with&nbsp;WCAG 2.1 level AA (although we strive for AAA).&nbsp;Fully conformant&nbsp;means that&nbsp;the content fully conforms to the accessibility standard without any exceptions.</p>

    <div class="wp-block-uagb-advanced-heading uagb-block-33988a11">
      <h2 class="uagb-heading-text">Feedback</h2>
    </div>
    <p>We welcome your feedback on the accessibility of&nbsp;all XR Navigation applications. Please let us know if you encounter accessibility barriers on&nbsp;any XR Navigation application:</p>
    <ul class="wp-block-list">
      <li>E-mail:&nbsp;<a href="mailto:support@xrnavigation.iosupport@xrnavigation.io" target="_blank" rel="noreferrer noopener">support@xrnavigation.io</a></li>
      <li><a href="https://www.google.com/url?q=https://xrnavigation.io/contact&amp;source=gmail-html&amp;ust=1701794721889000&amp;usg=AOvVaw3B0zUSM-jyNmKFzoxC6-Ob" target="_blank" rel="noreferrer noopener">https://xrnavigation.io/contact</a></li>
    </ul>
    <p>We try to respond to feedback within&nbsp;48 hours.</p>

    <div class="wp-block-uagb-advanced-heading uagb-block-09efeea3">
      <h2 class="uagb-heading-text">Compatibility with browsers and assistive technology</h2>
    </div>
    <p>All XR Navigation applications&nbsp;are designed to be compatible with the following assistive technologies:</p>
    <ul class="wp-block-list">
      <li>Windows on Chrome, Edge, and Firefox with NVDA</li>
      <li>Windows on Chrome, Edge, and Firefox with Jaws</li>
      <li>Mac on Safari, Chrome, and Firefox with Voice Over</li>
      <li>iOS on Safari, Chrome, and Firefox with Voice Over</li>
    </ul>
    <p>XR Navigation applications&nbsp;are probably not compatible with:</p>
    <ul class="wp-block-list">
      <li>Internet Explorer</li>
      <li>Any browser that does not support the Web Audio API</li>
      <li>Environments and screen readers that do not support Aria and JavaScript</li>
    </ul>

    <div class="wp-block-uagb-advanced-heading uagb-block-9e766528">
      <h2 class="uagb-heading-text">Technical specifications</h2>
    </div>
    <p>The accessibility of&nbsp;all the XR Navigation applications&nbsp;rely on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</p>
    <ul class="wp-block-list">
      <li>HTML</li>
      <li>WAI-ARIA</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
    <p>These technologies are relied upon for conformance with the accessibility standards used.</p>

    <div class="wp-block-uagb-advanced-heading uagb-block-5eb38f05">
      <h2 class="uagb-heading-text">Limitations and alternatives</h2>
    </div>
    <p>Despite our best efforts to ensure accessibility of&nbsp;all the XR Navigation applications&nbsp;, there may be some limitations. Below is a description of known limitations, and potential solutions. Please contact us if you observe an issue not listed below.</p>
    <p>Known limitations for&nbsp;all XR Navigation applications:</p>
    <ol class="wp-block-list">
      <li><strong>If you&#8217;re blind, Non-Visual Desktop Access (NVDA) works best with all our products because it is the screen reader our development team primarily uses. </strong>Sometimes other screen readers, such as Jaws or Voice Over, may not have an optimal experience because Each screen reader has slightly different implementations of web accessibility features e.g., aria live regions. We are constantly working with screen reader developers and accessibility specification writers to help make the experience uniform across different screen readers, and we provide workarounds whenever possible. Note that NVDA is a free screen reader on Windows, and sometimes the solution is to use it instead of other screen readers. Please contact&nbsp;<a href="mailto:support@xrnavigation.io" target="_blank" rel="noreferrer noopener">support@xrnavigation.io</a>&nbsp;if you find any issues, and note the best experience is with NVDA.</li>
    </ol>

    <div class="wp-block-uagb-advanced-heading uagb-block-6195863e">
      <h2 class="uagb-heading-text">Assessment approach</h2>
    </div>
    <p>XR Navigation Inc.&nbsp;assessed the accessibility of&nbsp;all the XR Navigation applications&nbsp;by the following approaches:</p>
    <ul class="wp-block-list">
      <li>Self-evaluation</li>
      <li>External evaluation</li>
      <li>A formal quality assurance evaluation throughout the design and development process</li>
    </ul>

    <div class="wp-block-uagb-advanced-heading uagb-block-cfaf51c9">
      <h2 class="uagb-heading-text">Evaluation report</h2>
    </div>
    <p>An evaluation report for&nbsp;all the XR Navigation applications&nbsp;is available at:&nbsp;<a href="https://www.google.com/url?q=https://xrnavigation.io/ACRhttps://xrnavigation.io/ACR&amp;source=gmail-html&amp;ust=1701794721889000&amp;usg=AOvVaw20YXYaPI0Bi0EW0ahnvc_1" target="_blank" rel="noreferrer noopener">https://xrnavigation.io/ACR</a>.</p>

    <div class="wp-block-uagb-advanced-heading uagb-block-0c914e77">
      <h2 class="uagb-heading-text">Evaluation report</h2>
    </div>
    <p>An evaluation statement for&nbsp;all the XR Navigation applications&nbsp;is available at:&nbsp;<a href="https://xrnavigation.io/Accessibility-statement">https://xrnavigation.io/Accessibility-statement</a>.</p>

    <div class="wp-block-uagb-advanced-heading uagb-block-2bc1f5ca">
      <h2 class="uagb-heading-text">Formal complaints</h2>
    </div>
    <p>Please email&nbsp;<a href="mailto:support@xrnavigation.io" target="_blank" rel="noreferrer noopener">support@xrnavigation.io</a>&nbsp;with any complaints about accessibility on any XR Navigation site or product.</p>

    <div class="wp-block-uagb-advanced-heading uagb-block-c61a60d6">
      <h2 class="uagb-heading-text">Formal approval of this accessibility statement</h2>
    </div>
    <p>This Accessibility Statement is approved by:</p>
    <p>XR Navigation Inc.<br>Brandon Biggs<br>Chief Executive Officer</p>

    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
  </div>
</article>
{{ end }}
